*.swp
*.pem
*.pyc
*.DS_Store
.cache
node_modules
build
__pycache__
.venv
venv/
user_service/.env
user_service/key.json
post_service/.env
post_service/key.json
comment_service/.env
comment_service/key.json
.idea
migrations/
.vscode/